[submodule "libs/sdsl-lite"]
	path = libs/sdsl-lite
	url = https://github.com/xxsds/sdsl-lite
[submodule "libs/seqan"]
	path = libs/seqan
	url = https://github.com/eseiler/seqan
	branch = unified
[submodule "libs/cxxopts"]
	path = libs/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "libs/Catch2"]
	path = libs/Catch2
	url = https://github.com/catchorg/Catch2.git
