[submodule "libs/cxxopts"]
	path = libs/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "libs/Catch2"]
	path = libs/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "libs/seqan3"]
	path = libs/seqan3
	url = https://github.com/seqan/seqan3.git
[submodule "libs/genome_updater"]
	path = libs/genome_updater
	url = https://github.com/pirovc/genome_updater.git
[submodule "libs/unordered_dense"]
	path = libs/unordered_dense
	url = https://github.com/martinus/unordered_dense
