dist: noble
language: python
python:
 - 3.14
 - 3.12
name: "Python tests"
jobs:
  include:
    - name: "linux gcc-11"
      language: cpp
      python: 3.14
      addons:
        apt:
          packages:
            - g++-11
            - parallel
      env:
        - MATRIX_EVAL="CC=gcc-11 && CXX=g++-11 && BUILD_TYPE=Release"
      script:
        - eval "${MATRIX_EVAL}"
        - ${CC} --version

    - name: "linux gcc-12"
      language: cpp
      python: 3.14
      addons:
        apt:
          packages:
            - g++-12
            - parallel
      env:
        - MATRIX_EVAL="CC=gcc-12 && CXX=g++-12 && BUILD_TYPE=Release"
      script:
        - eval "${MATRIX_EVAL}"
        - ${CC} --version


before_install:
  - echo "before for all"

script:
 - python --version