dist: noble
language: python

jobs:
  include:
    - name: "gcc-11"
      language: cpp
      addons:
        apt:
          packages:
            - g++-11
      env:
        - MATRIX_EVAL="CC=gcc-11 && CXX=g++-11 && BUILD_TYPE=Release"

    - name: "gcc-12"
      language: cpp
      addons:
        apt:
          packages:
            - g++-12
      env:
        - MATRIX_EVAL="CC=gcc-12 && CXX=g++-12 && BUILD_TYPE=Release"

    - language: python
      python: 3.11

    - language: python
      python: 3.10



env:
  - MATRIX_EVAL="CC=gcc-13 && CXX=g++-13 && BUILD_TYPE=Release"  # gcc-13 default on dist: noble

before_install:
  - sudo apt-get -y install parallel
  - echo "before for all"

script:
  - ${CC} --version
  - python --version