dist: noble
language: python
python:
 - 3.14
 - 3.12
name: "Python tests"

jobs:
  include:
    - stage: "C++ tests"
      language: cpp
      python: 3.14
      gcc: 
       - 11
       - 12
       - 13
      addons:
        apt:
          packages:
            - parallel
      env:
        - MATRIX_EVAL="CC=gcc && CXX=g++ && BUILD_TYPE=Release"
      script:
        - eval "${MATRIX_EVAL}"
        - ${CC} --version

before_install:
  - echo "before for all"

script:
 - python --version