dist: noble
language: python

jobs:
  include:
    - name: "gcc-11"
      language: cpp
      addons:
        apt:
          packages:
            - g++-11
      env:
        - MATRIX_EVAL="CC=gcc-11 && CXX=g++-11 && BUILD_TYPE=Release"

    - name: "gcc-12"
      language: cpp
      addons:
        apt:
          packages:
            - g++-12
      env:
        - MATRIX_EVAL="CC=gcc-12 && CXX=g++-12 && BUILD_TYPE=Release"

    - name: "python 3.10"
      language: python
      python: 3.10

    - name: "python 3.11"
      language: python
      python: 3.11

env:
  - MATRIX_EVAL="CC=gcc && CXX=g++ && BUILD_TYPE=Release"

addons:
  apt:
    packages:
      - parallel

before_install:
  - echo "before for all"

script:
  - ${CC} --version
  - python --version